@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}

#game-container {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

header {
    height: 7%;
    width: 100%;
    padding: 0 1.5%;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cecece;
}

#stats {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#lives-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.life {
    height: 2vh;
    width: 2vh;
    margin: 2px;;
    border-radius: 50%;
    background-color: #000000;

}

#canvas {
    width: 100%;
    background-color: #f4f4f4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(244,244,244,0.85);
}

.modal-content {
    background-color: rgba(244, 244, 244, 0.9);
    border: 1px solid #000000;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin: 10% auto;
    padding: 0 2%;
    height: 25rem;
    width: 25rem;
}

.center-btn {
    text-align: center;
}

.start-button {
    color: #000000;
    background-color: #f4f4f4;
    border: 1px solid #000000;
    padding: .75rem 1.5rem;
    margin: 0 50;
    font-size: 1.2rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
}

.start-button:hover {
    color: #f4f4f4;
    background-color: #000000;
}


.menu {
    /* display: none; */
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color:  #f4f4f4;
}